:root {
    --beige: #f4e8d3;
    --green: #67ba80;
    --green-dark: #5aa873;
    --white: #ffffff;
    --black: #1e293b;
    --red: #ef4444;
    --blue: #3b82f6;
    --gray: #64748b;
    --gray-light: #e2e8f0;
    --gray-lighter: #f8fafc;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--black);
    background-color: var(--gray-lighter);
}

.min-h-screen {
    min-height: 100vh;
}
